$colorBlue: #1b65ce;
$colorWhite: #fff;
$colorBlack: #333;
$colorRed: #ff4707;
$numberColor: #fb565c;
$borderColor: #ddd;
$bgColor: #f2f2f2;
$tipsColor: #666;
$disableColor: #aaa;
$activeColor:#c30d23;
$fontFamily: "Helvetica Neue", Helvetica;
$tabHeight: 1.5rem;
